<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/formatting.css}" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/80eef9efe1.js" crossorigin="anonymous"></script>

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:fragment="sidenav" class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img src="/images/logo.png" width="215" height="135"><br></div>
      <div class="list-group">
        <a th:href="@{/}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-th-large"></i>&nbsp &nbspDashboard Home</a>
        <a th:href="@{/employees/new}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-users"></i>&nbsp &nbspManage Roles</a>
        <a th:href="@{/projects/new}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-align-justify"></i>&nbsp &nbspManage Projects</a>
        <a th:href="@{/tickets/new}" class="list-group-item list-group-item-action bg-light current">&nbsp<i class="fas fa-list"></i>&nbsp &nbspManage Tickets</a>
        <a th:href="@{/}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-user"></i>&nbsp &nbspUser Profile</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav th:replace="layouts :: topnav"></nav>
      
<!-- --------------------------------------------------------------- -->      
<!-- ------------------Body of the Page----------------------------- -->
<!-- --------------------------------------------------------------- -->
	<br><br>
      <div class="container-fluid">
      	<div class="container">
	
		<!-- Project Form -->
		<form action="/tickets/save" class="form-style-9" method="POST" th:object="${ticket}">
		<ul>
			<li>
				<input type="text" class="field-style field-split align-left" placeholder="Title" th:field="${ticket.title}">
				
			 	<input type="date" class="field-style field-split align-right" name="Date" th:field="${ticket.date}" value="-DATE-" min="2020-04-01" max="2020-12-31">
			</li>
			<li>
				<select th:field="*{theEmployee}" class="field-style field-split align-left">
					<option th:each = "employee : ${allEmployees}"
							th:value = "${employee.employeeId}"
							th:text = "${employee.firstName}">
					</option>
				</select>
				
				<select th:field="*{theProject}" class="field-style field-split align-right">
					<option th:each = "project : ${projectsList}"
							th:value = "${project.projectId}"
							th:text = "${project.name}">
					</option>
				</select>
			</li>
			<li>
				<select th:field="${ticket.priority}" class="field-style field-split align-left">
					<option th:value="None"> None</option>
					<option th:value="Low"> Low</option>
					<option th:value="Medium"> Medium</option>
					<option th:value="High"> High</option>
				</select>
				
				<select th:field="${ticket.type}" class="field-style field-split align-right">
					<option th:value="BugsErrors"> Bugs/Errors</option>
					<option th:value="FeatureRequest"> Feature Request</option>
					<option th:value="OtherRequest"> Other Request</option>
				</select>
			</li>
			<li>
				<select th:field="${ticket.status}" class="field-style field-split align-left">
					<option th:value="Open"> Open</option>
					<option th:value="InProgress"> In Progress</option>
					<option th:value="Resolved"> Resolved</option>
				</select>
			</li>
			<li>
				<textarea type="text" class="field-style" placeholder="Enter Ticket Description" th:field="${ticket.description}"></textarea>
			</li>
			<li>
				<button type="submit">Create Ticket</button>
			</li>
		</ul>
		</form>
		
		<h3>Tickets<br><span>All the tickets in your database.</span></h3>
		<section>
		<div class="entire-table">
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Priority</th>
							<th>Status</th>
							<th>Type</th>
							<th>Assigned To</th>
						</tr>
					</thead>
					</table>
				</div>
				<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr th:each="aTicketAndEmployee : ${ticketsListAndEmployee}">
							<td th:text="${aTicketAndEmployee.title}"/>
							<td th:text="${aTicketAndEmployee.description}"/>
							<td th:text="${aTicketAndEmployee.priority}"/>
							<td th:text="${aTicketAndEmployee.status}"/>
							<td th:text="${aTicketAndEmployee.type}"/>
							<td th:text="${aTicketAndEmployee.firstName} + ' ' + ${aTicketAndEmployee.lastName}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</section>
		
	</div>
		 </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  
  <!-- /#wrapper -->

	 <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
	
</body>

</html>