<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/formatting.css}" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/80eef9efe1.js" crossorigin="anonymous"></script>

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:fragment="sidenav" class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><h1>Bug_<br>Tracker</h1>
      </div>
      <hr style="height:1px;width:90%;border-width:0;color:#adb5bd;background-color:#adb5bd78">
      <div class="list-group">
        <a th:href="@{/}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-th-large"></i>&nbsp &nbspDashboard Home</a>
        <a th:href="@{/employees/new}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-users"></i>&nbsp &nbspManage Roles</a>
        <a th:href="@{/projects/new}" class="list-group-item list-group-item-action bg-light current">&nbsp<i class="fas fa-align-justify"></i>&nbsp &nbspManage Projects</a>
        <a th:href="@{/tickets/new}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-list"></i>&nbsp &nbspManage Tickets</a>
      </div>
    </div>
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav th:replace="layouts :: topnav"></nav>
      
<!-- --------------------------------------------------------------- -->      
<!-- ------------------Body of the Page----------------------------- -->
<!-- --------------------------------------------------------------- -->
	<br><br>
      <div class="container-fluid">
      	<div class="container">
	
		<!-- Project Form -->
		
		<form id="updateForm" class="form-style-9" action="/projects/save" method="POST" th:object="${project}">
		<input type="hidden" th:field="${project.projectId}">
		<h4>Edit Project</h4>
		<ul>
			<li>
				<input type="text" class="field-style field-split align-left" placeholder="Project Name" th:field="${project.name}">
				
				<select th:field="${project.stage}" class="field-style field-split align-right">
					<option th:value="NotStarted"> Not Started</option>
					<option th:value="InProgress"> In Progress</option>
					<option th:value="Completed"> Completed</option>
				</select>
			</li>
			
			<li>
				<textarea type="text" class="field-style" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
			</li>
			
			<li>
				<select class="field-style field-split align-left" th:field="*{employees}" multiple="multiple">
					<option th:each = "employee : ${allEmployees}"
							th:value = "${employee.employeeId}"
							th:text = "${employee.firstName}">
					</option>
				</select>
			</li>
			<li>
		<!--	<input type="hidden" name="_csrf" th:value="${_csrf.token}" />  -->
				<button type="submit">Save Changes</button>
			</li>
		</ul>
		</form>
		
		<h3>Projects<br><span>All the projects in your database.</span></h3>
		<section>
		<div class="entire-table">
			<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Status</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				</table>
				</div>
				<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr th:each="aProject : ${projectsList}">
						<td th:text="${aProject.name}"/>
						<td th:text="${aProject.stage}"/>
						<td th:text="${aProject.description}"/>
						<td>
		                    <a th:href="@{/projects/update(id=${aProject.projectId})}"
		                    class="btn btn-info btn-sm">Edit</a>
		                    &nbsp;&nbsp;&nbsp;
		                    <a th:href="@{/projects/delete(id=${aProject.projectId})}"
		                    class="btn btn-danger btn-sm"
		                    onClick="if (!(confirm('Are you sure you want to delete this project?'))) return false">Delete</a>
                		</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</section>
	</div>
		 </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  
  <!-- /#wrapper -->

	 <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

	
</body>

</html>