<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/formatting.css}" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/80eef9efe1.js" crossorigin="anonymous"></script>
  

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:fragment="sidenav" class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><h1>Bug_<br>Tracker</h1><br>
      <a th:text="${versionNumber}"></a>
      </div>
      <div class="list-group">
        <a th:href="@{/}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-th-large"></i>&nbsp &nbspDashboard Home</a>
        <a th:href="@{/employees/new}" class="list-group-item list-group-item-action bg-light current">&nbsp<i class="fas fa-users"></i>&nbsp &nbspManage Roles</a>
        <a th:href="@{/projects/new}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-align-justify"></i>&nbsp &nbspManage Projects</a>
        <a th:href="@{/tickets/new}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-list"></i>&nbsp &nbspManage Tickets</a>
        <a th:href="@{/}" class="list-group-item list-group-item-action bg-light">&nbsp<i class="fas fa-user"></i>&nbsp &nbspUser Profile</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav th:replace="layouts :: topnav"></nav>
      
<!-- --------------------------------------------------------------- -->      
<!-- ------------------Body of the Page----------------------------- -->
<!-- --------------------------------------------------------------- -->
	<br><br>
      <div class="container-fluid">
      	<div class="container">
		
		<!-- Project Form -->
		<form class="form-style-9" action="/employees/save" method="POST" th:object="${employee}">
		<ul>
		<li>
			<input type="text" class="field-style field-split align-left" placeholder="First Name" th:field="${employee.firstName}">
			<input type="text" class="field-style field-split align-right" placeholder="Last Name" th:field="${employee.lastName}">
		</li>
		<li>
		<input type="text" class="field-style field-split align-left" placeholder="Email" th:field="${employee.email}">
		
		<select th:field="${employee.role}" class="field-style field-split align-right">
			<option th:value="Admin"> Admin</option>
			<option th:value="Developer"> Developer</option>
			<option th:value="Submitter"> Submitter</option>
			<option th:value="ProjectManager"> Project Manager</option>
		</select>
		</li>
		<li>
		
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		<button type="submit">Add Role</button>
		</li>
		</ul>
		</form>
		
		
	<!-- Table -->
	<h3>Your Personnel<br><span>All the users in your database.</span></h3>
	<section>
	<div class="entire-table">
	<div class="tbl-header">
	<table cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Email</th>
				<th># of Tickets</th>
			</tr>
		</thead>
		</table>
		</div>
		<div class="tbl-content">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr th:each="anEmployeeTicketCnt : ${employeesListTicketsCnt}">
					<td th:text="${anEmployeeTicketCnt.firstName} + ' ' + ${anEmployeeTicketCnt.lastName}"/>
					<td th:text="${anEmployeeTicketCnt.role}"/>
					<td th:text="${anEmployeeTicketCnt.email}"/>
					<td th:text="${anEmployeeTicketCnt.ticketCount}"/>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	</section>
		
	</div>
	
		 </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  
  <!-- /#wrapper -->

	 <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
	
</body>

</html>